#root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #F3F5FA;
}

body {
	font-family: 'Inter', sans-serif;
	color: #000;
	line-height: 1.5;
}

.main {
	margin-top: 24px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 24px;
	padding-bottom: 84px;
}

.main__left-section {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* .main__right-section {} */